body {
  margin: 0;
}

header {
  background-color: black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

nav div {
  width: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 3px;
}

nav {
  display: flex;
  height: 45px;
}

nav:hover {
  cursor: pointer;
}
